<div class="computer-table">
  <h1>Computer Details</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CPU Usage</th>
        <th>Disk Usage</th>
        <th>RAM Usage</th>
        <th>Network Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let computer of computers">
        <td>{{ computer.id }}</td>
        <td>{{ computer.name }}</td>
        <td>{{ computer.metrics.cpuUsage }}</td>
        <td>{{ computer.metrics.diskUsage }}</td>
        <td>{{ computer.metrics.ramUsage }}</td>
        <td>{{ computer.metrics.networkUsage }}</td>
      </tr>
    </tbody>
  </table>
</div>
